.Amenities_main{
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 3fr 3fr 3fr;
    grid-gap: 40px 58px;
    padding: 20px 2px 20px 72px;
}

.Amenities_main img{
  border: 1px solid #eee;
  padding: 10px;
  border-radius: 3%;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.3);
}


.Amenities_main h1{
    font-size: 18px;
    padding-top: 5px;
}



.main_title{
  color: #A88944;
    font-size: 26px;
    padding-top: 15px;
    padding-bottom: 20px;
    text-decoration: underline;
}

.Overview_main{
    display:grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    grid-gap: 40px;
    margin-left: 20px;
    padding: 20px;
}

.Overview_main h1{
    font-size: 18px;
    font-weight: 500;  
    text-transform: uppercase;
}

.Overview_main h2{
    padding-top: 5px;
}

.Overview_main img{
  border: 1px solid #eee;
  padding: 10px;
  border-radius: 3%;
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.3);
}
  
.Overview_main .properly{
    display: flex;
}

.Overview_main img{
  flex:1;
}

.Overview_main .headings{
    flex:6;
    margin-left: 20px;
}
  
.awssld__bullets {
    position: absolute;
    bottom: 17px !important;
    z-index: 20;
    color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.awssld__bullets button{
    color:white !important;
}

.popup{
    left: 0;
    position: fixed;
    top: 20%;
    transition: left .5s ease;
    z-index:1000;
  }
  
  .popupps{
    left: 0;
    position: fixed;
    top: 60%;
    transition: left .5s ease;
    z-index:1000;
  }
 
  .controlabc{
     display: flex;
  }

  .controlabc select{
    flex:1;
    margin-right: 19px;
  }

  .controlabc input{
    flex: 4;
  }

  .form-control{
    background-color: #fff;
    border-color: #dbdbdb;
    border-radius: 4px;
    color: #363636;
  }


  .form-heada h1 {
  font-size: 16px;
  background-color: #d4af37;
  margin-bottom: 20px;
  font-weight: 500;
  padding:10px 3px;
  color: #fff;
  text-transform: uppercase;
  border-bottom: 0.1px solid white;
}

.form-groupa input {
  box-shadow: inset 0 0.0625em 0.125em rgba(10,10,10,.05);
  border:1px solid #dbdbdb;
  max-width: 100%;
  width: 100%;
  border-radius: 4px;
  border-width: 1px;
  background-color:white;
  padding: 9px 15px;
  width: 100%;
  font-size:16px;
  color:black;
}

.form-groupa {
  padding: 0px 10px;
  margin-bottom: 20px;
}


  .popup-content{
    background-color: white;
    box-sizing: border-box;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    color: black;
    float: left;
    height: 225px;
    width: 310px;
    font-size: 12px;
    box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.3);
  }
  
  .closepopup{
    left: -310px;
  }
  
  
  @keyframes example {
    from {background-color: #000;}
    to {background-color: #d3b169;}
    0%, 100% {
      bottom: 0;
    }
    50% {
      padding-top: 12px;
    } 
  }
  
  
  @media (min-width: 576px){
  .modal-dialog {
      max-width: 360px;
      margin: 1.75rem auto;
  }
  }
  
  a:not([href]):not([tabindex]):hover {
    color: inherit;
    text-decoration: underline;
  }
  a.button:hover{
    text-decoration: underline;
  }
  
  .button::after{
      font-family: 'FontAwesome';
      writing-mode: "tb-rl";
      content: '\f0a9';
      text-decoration: underline;;
      color: white !important;
      cursor: pointer;
      font-size: 1.2em;
      padding: 5px;     
  }
  
  .button-closed::after{
       font-family: 'FontAwesome';
      content: '\f0a8';
      color: white !important;
      cursor: pointer;
      font-size: 1.2em;
  }
  
  .buttonps{
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    height: 110px;
    padding-top: 0.6rem;
    padding-right: 2px;
    width: 33px;
    font-weight: 500;
    color: #fff !important;
    font-size: 15px;
    line-height: 15px;
    writing-mode: tb-rl !important;
    animation: example 2s linear infinite;
    box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.09);
  }
  
  
  
  
  .buttonps::after{
    font-family: 'FontAwesome';
    content: '\f0a9';
    text-decoration: underline;;
    color: white !important;
    cursor: pointer;
    font-size: 1.2em;
    padding: 5px;
    border: none;
   }
  
   .button-closed1::after{
    font-family: 'FontAwesome';
      content: '\f0a8';
    color: white !important;
    cursor: pointer;
    font-size: 1em;
    border: none;
  }

  .navbar {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0rem 0.1rem;
  z-index: 100;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.09);
  background:white;
}
.nav-header {
  display: flex;
  justify-content: space-between;
}
.nav-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  color: white;
}
.nav-icon {
  font-size: 1.5rem;
  
}
.nav-links {
  height: 0;
  overflow: hidden;
  list-style-type: none;
}
.nav-links a {
  display: block;
  text-decoration: none;
  padding: 1rem 0;
  color: black;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 490;
  letter-spacing: 0.025rem;
}

.nav-links a:hover {
  color: #d3b169;
}

.show-nav {
  height: 350px;
}

@media screen and (min-width: 768px) {
  .nav-btn {
    display: none;
  }
  .nav-center {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    width: 100%;
  }
  .nav-links{
    height: auto;
    display: flex;
    margin-left: 7.3rem;
  }

  .nav-links > li{
    border-right: 0.1px solid #eee;
    padding-right: 0.5rem;
  }

  .nav-links .LastChild{
    border-right: none;
  }

  .nav-links li{
    display: flex;
  }
  .nav-links a {
    margin: 0 0rem 0rem 0.6rem;
    color: black;
    padding: 16px 0;
  }
  .nav-links img{
      height: 16px;
      margin-top: 26px;
      margin-left: 8px;
  }
  .main_logo1{
    width: 200px;
  }
}

.images-in-grid{
    display: grid;
    grid-template-columns: 6fr 6fr;
    grid-gap: 20px;
}

.images-in-grid img{
   height: 200px;
}

.images-in-grid img:hover{
    cursor: pointer;
    transform: translateY(-1px);
}

.galleryImages{
    display:grid;
    grid-template-columns:6fr 6fr;
    grid-gap:40px;
}

.description_main{
    padding:0px 10px 20px 10px;
    text-align: justify;
}

.costingPart{
  display:grid;
  grid-template-columns: 9fr 3fr;
  grid-gap: 10px;
}

.modalbuttonsmall{
  padding: 4px 10px;
    font-size: 0.8125rem;
    color: #fff;
    background: linear-gradient(-90deg, #d3b169, #000, #d3b169, #000);
    background-size: 400% 400%;
    box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
}

.parkedtwo img{
  position: relative;
}

.parkedtwo img :hover{
 opacity: 10%;
}


.parked{
  position: absolute;
  display: block;
  text-align: center;
  margin-top:-150px;
  margin-left: 20vh;
}

.parkedone{
  display:none;
}



.modalbuttonMediumtwo{
  border:none;
  padding: 8px 16px;
    font-size: 0.9125rem;
    border-radius: 5px;
    color: #fff;
    background-color: #1976d2;
    box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
}

.styles_modal__gNwvD {
  max-width: 906px;
  width: 480px !important;
  border-radius: 3px !important;
  padding:0px;
}

.styles_modal__gNwvD form{
  padding:0px 20px;
}

.styles_modal__gNwvD .modalImageLogo{
  padding: 21px 0px 0px 0px;
    width: 300px;
}

.finaltouch a:hover{
    color: #fff !important;
}

.modalImageLogo{
  height: 78px;
  margin-top: -6px;
}

.table.is-narrow td{
  text-align: center !important;
}

.table tr.is-selected th{
  text-align: center !important;
}

.locationPart{
  display: grid;
  grid-template-columns: 8fr 4fr;
  grid-gap: 20px;
}

.aliginingForm{
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background-size: cover;
}

.backgroundSlider{
  position: relative;
}
.backgroundFormTwo{
  position: absolute;
  top:12.5%;
  z-index: 17;
  left:3%;
  background-color: rgba(0,0,0,0.7);
  width:500px;
  padding:10px;
  border-radius: 5px;
  text-align: justify;
}


.carousel-captiona h1{
  display: block;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 1px 3px 4px rgba(0, 0, 0, .45);
  font-size: 40px;
}

.carousel-captiona h4{
  display: block;
  font-size: 1.1rem;
  color:#fff;
  text-shadow: 1px 3px 4px rgba(0, 0, 0, .45);
}

.carousel-captiona h3{
  display: block;
  font-size: 1.5rem;
  color:#fff;
  text-shadow: 1px 3px 19px rgba(41, 26, 26, 0.75);
}

.carousel-captiona h6{
  color: #fff;
}

.prestigecopyabcd{
  color: white;
  padding: 8px 20px;
  border-width: 1px;
  font-size: 16px;
  border-radius: 2px;
  border: 1px solid transparent;
  border-radius: 3px;
  background: linear-gradient(-90deg, #d3b169, #000, #d3b169, #000);
  background-size: 400% 400%;
  animation: Gradient 3s ease infinite;
}

.prestigecopyabcd:hover{
  cursor: pointer;
}


.prestigecopy{
  color: white;
  padding: 5px 59px;
  border: 1px solid transparent;
  border-radius: 3px;
  background: linear-gradient(-90deg, #d3b169, #000, #d3b169, #000);
  background-size: 400% 400%;
  animation: Gradient 3s ease infinite;
}

@keyframes Gradient {
	0% {
		background-position: 0 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0 50%
	}
}
@keyframes rocking{
  0%{transform:rotate(0deg)}
  25%{transform:rotate(0deg)}
  50%{transform:rotate(2deg)}
  75%{transform:rotate(-2deg)}
  100%{transform:rotate(0deg)}
}
.close{
  color:#2424;
}


@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

}


.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.bounceIn {
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.MuiTabs-root {
  display: flex;
  overflow: hidden;
  min-height: 48px;
  background: white;
  color: black;
  -webkit-overflow-scrolling: touch;
}


.backgroundForm{
  position: absolute;
  top:20%;
  z-index: 17;
  right:3%;
  background-color: #000000cf;
  width:300px;
}

.form-group {
  padding: 0px 20px;
  margin-bottom: 25px;
}

.form-group input {
  border-radius: 3px;
  border-width: 1px;
  padding: 10px 15px;
  width: 100%;
  color:black;
  font-size:16px;
}

.form-head{
  background-color: #d4af37;
  color: #fff;
  text-align: center;
  margin-bottom: 35px;
}




.form-button{
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
}


.form-head h1 {
  font-size: 20px;
  text-align: center;
  background-color: #d4af37;
  margin-bottom: 20px;
  padding: 8px 0px;
  color: #fff;
  
}
.masterPlan{
  text-align: center;
}
@media all and (max-width: 600px){
#finalcosting{
  display: flex;
  margin-left:30%;
}

.Overview_main h1{
  font-size: 16px; 
  font-weight:490;
  text-transform: uppercase;
  }
  .nav-links a {
    display: block;
    text-decoration: none;
    color: #000;
    text-align: justify;
    padding: 9px 8vh;
    font-size: 1rem;
    font-weight: 490;
    letter-spacing: .025rem;
  }
  .prewidth{
    width:35.1% !important;
  }
  .highlightree{
    font-size: 1rem;
  }
  .nav-links a:first {
    border-top: 1px solid black;
  }

  .nav-links img {
   display: none;
  }
  .modalbuttonsmall{
    display: flex;
  }
  .main_logo1{
    width:200px;
  }

  .nav-btn{
   color:#d3b169;
  }

  .carousel-captiona h1 {
    font-size: 25px;
  }

  .backgroundFormTwo{
    width: 340px;
    top:10vh;
    left:2vh;
  }
  .carousel-captiona h3{
    font-size: 1rem;
  }
  .carousel-captiona h6 {
    color: #fff;
    font-size: 12px;
  }
  .masterPlan{
    margin-left: 10vh;
  }
  .properly{
    margin-bottom:20px;
  }
  .table.is-narrow td {
    text-align: left !important;
  }
  .table tr.is-selected th {
    text-align: left !important;
  }
  .galleryImages {
    display: block;
  }
  .Amenities_main {
    display: grid;
    grid-template-columns: 3fr 3fr;
    grid-gap: 26px 44px;
    padding-left: 20px;
  }

  .costingPart{
    display: block;
  }

  .locationPart{
   display: block;
  }

  .Overview_main{
    display: grid;
    grid-template-columns: 3fr 3fr;
    grid-gap: 0px 45px;
  }

  .Overview_main .headings {
    display:block;
     margin-left: 0px;
  }
  
  .Overview_main .properly{
    display: block;
  }

  .backgroundForm {
   display: none;
  }

  .MuiBox-root-322 {
    padding: 10px 0px;
  }

  .MuiBox-root-323 {
    padding: 10px 0px;
  }

}