.navbar {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.25rem 1rem;
  z-index: 100;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.09);
  background:black;
}
.nav-header {
  display: flex;
  justify-content: space-between;
}
.nav-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  color: white;
}
.nav-icon {
  font-size: 1.5rem;
  
}
.nav-links {
  height: 0;
  overflow: hidden;
  list-style-type: none;
}
.nav-links a {
  display: block;
  text-decoration: none;
  padding: 1rem 0;
  color: white;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.025rem;
}

.nav-links a:hover {
  color: orchid;
}

.show-nav {
  height: 270px;
}
@media screen and (min-width: 768px) {
  .nav-btn {
    display: none;
  }
  .nav-center {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
  }
  .nav-links {
    height: auto;
    display: flex;
    margin-left: 11rem;
  }
  .nav-links a {
    margin: 0 1rem;
    color: white;
    padding: 16px 0;
  }
}