.awssld__bullets {
    position: absolute;
    bottom: 17px !important;
    z-index: 20;
    color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.awssld__bullets button{
    color:white !important;
}